#wrapper{font-family: tahoma;}
.container{
    width: 95%;
    margin: 0 auto;
}
#subheader{
    width: 100%;
    height: 30px;
    background: #46bfb0;
    color: #fff;
    margin-top:-15px;
}
#subheader p{
    float: left;
    margin-top: 7px;
}
#subheader a{
    float: right;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}
/*logo styling*/
#main-header{
    width: 100%;
    height: 100px;
    background: #1aaa1a;
    float: left;
    margin-top: -15px;
}
#logo{
    width:250px;
    margin-top: 10px;
    float: left;
}
#ist{
    color:black;
    font-size: 45px;
    font-weight: bold;
    margin-left: 15px;
    font-family: cursive;
}
#iist{
    color:black;
    font-size: 35px;
    font-weight: bold;
    font-family: cursive;
}
/*Search area*/
#search{
    width: 650px;
    float: left;
    padding: 20px;
    margin-left: 50px;
    position:relative;
}
.search-area{
    width: 650px;
    height: 50px;
    background: #fff;
    border: none;
    border-radius: 10px;
    float: left;
    padding-left: 15px;
}
.search-btn{
    width: 100px;
    height: 52px;
    border-radius: 10px;
    border: none;
    color:#fff;
    background: brown;
    margin-left: -100px;
    position:absolute;
}
/* this is for yser menu styling */
#user-menu{
    width: 300px;
    float: right;
    margin-top: 20px;
}
/* this is fot list styling */
#user-menu li{
    float: left;
    width: 140px;
    text-align: center;
    list-style: none;
    font-size: 25px;
    border-left: 1px solid black;
}
#user-menu li:hover{
    font-size: 30px;
    transition: all .5s ease;
}
#user-menu li a{
    color: white;
    text-decoration: none;
}
/*navaigation bar*/
#navigation{
    width: 100%;
    height: 35px;
    background: #1aaa1a;
    float: left;
    box-shadow: 10px 14px 50px 2px #1aaa1a;
}
nav{
    width:1280px;
    margin: 0 auto;
}
nav a{
    margin-left: 35px;
    color:white;
    text-decoration: none;
}
nav a:hover{
    color:#000;
    transition: all .7s ease; 
}
/*slider area*/
#slider{
    width: 100%;
    max-width: 100%;
    float: left;
    overflow: hidden;
}
.bx-wrapper .bx-viewport{
    margin-top: -20px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a
{
  width: 15px;
  height: 15px;
  border-radius: 20px;
}
/*======category heading======*/
#heading-block{
    width: 100%;
    height: auto;
    float: left;
    color: #1aaa1a;
    font-size: 22px;
}
#heading-block h2{
    line-height: 35bx;
    border-left: 20px solid #1aaa1a;
    padding-left: 10px;
}
/*===Category boxes=====*/
.catbox{
    width: 235px;
    height: 235px;
    float: left;
    overflow: hidden;
    position: relative;
    margin:0px 15px 30px 0px;
}
.catbox span{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    bottom: 30px;
    position: absolute;
    z-index: 999;
    text-align: center;
}
.catbox img{
    max-width: 100%;
    transition: all .5s ease;
}
.catbox:hover span{
    color: red;
}
.catbox:hover img{
    transform: scale(1.3,1.3);
    transition: all .5s ease;
}
